<div class="page-header">
    <h2>Accounts</h2>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="account in ctrl.accounts" ng-click="ctrl.editAccount(account.id)">
            <td>{{account.id}}</td>
            <td>{{account.name}}</td>
            <td>{{account.email}}</td>
            <td>{{account.password}}</td>
        </tr>
    </tbody>
</table>