<div class="page-header">
    <h2>Edit Account Details</h2>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ctrl.account.name}}
            <!-- <span class="glyphicon glyphicon-edit pull-right" ng-click="ctrl.saveEdit()">  -->
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="ctrl.account.name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" ng-model="ctrl.account.email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" ng-model="ctrl.account.password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="ctrl.saveEdit()">Save</button>
                    <button type="button" class="btn btn-default" ng-click="ctrl.cancelEdit()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>