<div class="page-header">
    <h2>Login</h2>
</div>

<div class="col-md-4 col-md-offset-4">
    <div class="alert alert-danger alert-dismissable fade in" ng-show="ctrl.showMessage">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ctrl.message}}</strong>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Login</h4>
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="form.$valid && ctrl.login()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="ctrl.user.email" required>
                    </div>
                    <div ng-show="form.email.$touched || form.$submitted">
                        <div class="validation" ng-show="form.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                        </div>
                        <div class="validation" ng-show="form.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="ctrl.user.password" minlength=2
                            required>
                    </div>
                    <div ng-show="form.password.$touched || form.$submitted">
                        <div class="validation" ng-show="form.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is mandatory.
                        </div>
                        <div class="validation" ng-show="form.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Password should be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary form-control" ng-disabled="form.$invalid">                    
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <small>
            <a ui-sref="register">Create account</a> or <a ui-sref="resetpassword">reset password</a>             
        </small>
        </div>
    </div>
</div>