<div class="page-header">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> 
            <span class="glyphicon glyphicon-option-vertical"></span>
                <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="glyphicon glyphicon-user" ng-click="ctrl.edit()"> Settings </a> </li>
            <li><a class="glyphicon glyphicon-log-out" ng-click="ctrl.logout()"> Logout </a> </li>
        </ul>
    </div>
    <h2>Welcome</h2>
</div>

<div class="well well-sm">
    <form name="form" ng-submit="form.$valid && ctrl.submitPost()" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" name="text" placeholder="What's on your mind?" ng-model="ctrl.newpost.text" required>
            <div ng-show="form.text.$touched || form.$submitted">
                <div class="validation" ng-show="form.text.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Please say something
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <input type="file" name="file" ng-model="ctrl.newpost.image"> -->
            <!-- Select file to upload. Single file only. Accepts only images-->
            <input type="file" ng-model="ctrl.file" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
            <!-- Thumbnail preview of image to upload. -->
            <img ngf-thumbnail="ctrl.file" height="100">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid || ctrl.submittingPost" value="Post">
        </div>
    </form>
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="post in ctrl.posts">
        <div class="media">
            <div class="media-left">
                <img src="/protected/avatars/{{post.postedby}}" class="media-object img-circle" style="width:48px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{post.account.name}}</h4>
                <h6><small>{{post.updatedAt}}</small></h6>
                <img class="img-rounded" src="/protected/posts/images/{{post.image}}" alt="" height="150" ng-hide="post.image == ''">
                <p>{{post.text}}</p>
            </div>
        </div>

    </li>
</ul>